@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #525151;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    background-color: #3d3b3b;
  }
  main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #3d3b3b;
  }
  .side-bar {
    height: 100%;
    width: 17%;
    background-color: rgb(34, 33, 33);
    overflow-y: hidden;
  }
  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
  }
  .left {
    display: flex;
    align-items: center;
   }
   
   .left #menu {
    padding: 0 7px;
    cursor: pointer;
   } 
   .search {
    display: flex;
   }
   
   .search form {
    display: flex;
    border: 1px solid #3d3b3b;
    height: 45px;
   }
   .search input {
    width: 600px;
    padding:10px;
    border: 0;
    height: 100%;
    border-radius: 90px 0 0 90px;
    background-color: #525151;
  }
  
  input:focus {
    outline: none;
    border: 1px solid #3d3b3b;
  }
  .search button {
    height: 100%;
    width: 60px;
    border: none;
    background-color: #525151;
  }
   
  .mic {
    margin-top: 10px;
  }
  .material-icons {
    color: rgb(231, 223, 223);
    padding: 0 7px;
    cursor: pointer;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
 .nav-link span {
    margin-left: 15px;
  }
  
 .nav-link:hover {
    background: #3d3b3b;
    cursor: pointer;
  }
 
 .active {
    background: #3d3b3b;
 }
 hr {
    height: 1px;
    background-color: #3d3b3b;
    border: none;
  }
  .content {
    background-color: #3d3b3b;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #3d3b3b;
    overflow-y: scroll;
  }
  
  .videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .video {
    width: 270px;
    margin-bottom: 30px;
  }
  .thumbnail {
    width: 100%;
    height: 170px;
  }
  
  .thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .details {
    display: flex;
  }
   
  .title {
    display: flex;
    flex-direction: column;
  }
   
  .title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
   
  .title a,
  span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 12px;
  }
  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .search {
      display: none;
    }
}
@media (max-width: 900px) {
    .search input {
      width: 25rem;
    }
  }
  .categories{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  .category-section{
    display: flex;
    overflow: hidden;
  }
  .category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #525151;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
  }
  .category:hover{
    background-color: #DDD;
  }
  .category.active{
    background-color: #e1dddd;
    color: rgb(29, 28, 28);
    border-color: #2f2f2f;
  }
  .category:last-child{
    margin-right: 0;
  }
  
  /*this part is for the yt player*/

  .youtube-player-container {
    margin-left: 70px; 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.youtube-player {
    width: 900px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-info {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.info-buttons-container {
  display: flex;
  
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.action-buttons {
  width: 60px;
    border: none;
    background-color: #525151;
    display: flex;
}

.action-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    background-color: #545555;
    color: #fff;
}
  
